* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
}

section {
  height: 100vh;
  overflow: hidden;
  background: #000;
}

section span {
  position: absolute;
  background: #fff;
  pointer-events: none;
  background-size: cover;
  animation: animate 6s linear forwards;
}

@keyframes animate {
  0% {
    transform:perspective(500px) rotateY(0deg) translateX(-250px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: perspective(500px) rotateY(50deg) translateX(1000%);
    opacity: 0;
  }
}

